<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MBTI 게시판 로그인 페이지</title>
    <meta name="keyword" content="MBTI 게시판">
    <meta name="description" content="귀여운 MBTI 게시판">
    <link rel="stylesheet" href="css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Song+Myung&display=swap" rel="stylesheet">
</head>
<body>
<div class="container">
    <img src="img/mbti.jpg" alt="MBTI 이미지" class="mbti-image">
    <h1>MBTI 게시판</h1>
    <form action="/login" method="post">
        <br>
        <input type="text" name="memberEmail" placeholder="이메일"><br>
        <input type="password" name="memberPW" placeholder="비밀번호"><br>
        <div class="btn_login_wrap">
            <button type="submit" class="btn_login" id="log.login">
                <span class="btn_text">로그인</span>
            </button>
        </div>
        <div th:if="${errorMessage}" style="color: red;">
            <p th:text="${errorMessage}"></p>
        </div>
    </form>
    <a href="/register">회원가입</a>
</div>
<br>
<script src="js/main.js"></script>
</body>
</html>
